﻿<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <small>@ViewBag.Message</small>
                <img class="logo-image" src="~/Content/images/logo.png"/>
            </div>
        </div>
    </div>
</div>