﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    @Html.Partial("_Navigation")

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">
        <!-- Top Navbar -->
        @Html.Partial("_TopNavbar")
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>@ViewBag.SubTitle</h2>
            </div>
        </div>
        <!-- Main view  -->
        @RenderBody()

        <!-- Footer -->
        @Html.Partial("_Footer")

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->

<div id="form-modal-container"></div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/plugins/slimScroll")
@Scripts.Render("~/plugins/iCheck")
@Scripts.Render("~/plugins/toastr")
@Scripts.Render("~/plugins/dataTables")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("scripts", false)

</body>
</html>