﻿@model  Itanio.Marketplace.WebUI.Models.ModalFormViewModel

<div class="modal inmodal" id="@Model.Id" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-@Model.Size.ToString().ToLower()">
        <div class="modal-content fade animated fadeInDown">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">@Model.Title</h4>
                <small class="font-bold"></small>
            </div>
            <div class="modal-body">
                <p>
                    @Html.Partial(Model.PartialViewName, Model.ViewModel)
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>
    (function() {
        $(function() {
            $("#@Model.Id").modal();
        });
    }());
</script>