﻿<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/salescss")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
</head>
<body>

<div id="overlay"></div>
<div id="second-overlay">
    <div id="header-panel">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-offset-1 col-sm-6  col-lg-7">
                    <h1>
                        Central on-line de pagamentos
                    </h1>
                </div>
                <div class="col-xs-2 col-sm-4 col-md-3 col-md-offset-1 col-lg-offset-0 text-right">
                    <h1>
                        LOGO
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
</div>
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>