﻿<div class="box col-lg-10   col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="col-sm-9">
        <h4>Nosso compromisso com a segurança dos seu dados:</h4>
        <p class="text-justify">
            Você está navegando em ambiente seguro e controlado pela Itanio. Verifique sempre o endereço na barra de navegação, e tenha certeza que há a menção de nosso domínio itanio.com.br - Isso atesta que você está navegando realmente em nosso ambiente. Além disso, confira o valor apresentado na tela. Ao lado (ou abaixo) você pode visualizar também o selo de segurança da empresa THAWTE assegurando que o domínio itanio.com.br possui criptografia de dados, o que lhe garante maior confiabilidade, pois seus dados não trafegarão sem proteção pela internet. Todas as informações são criptografas.
        </p>
        <h4>
            Seus dados de cartão de crédito
        </h4>
        <p class="text-justify">
            A Itanio não armazena os dados de seu cartão de crédito. Você fará a digitação das informações, nós as enviaremos para a sua operadora para a validação, e o processo termina exatamente neste ponto. Dessa forma, além de não ficarmos em poder das informações, nós garantimos que os dados trafegarão entre a Itanio e a sua operadora totalmente criptografos, garantindo total segurança nas informações.
        </p>
    </div>
    <div class="col-sm-3">
        <h4 class="text-center">Selo de Segurança</h4>
        <div id="thawteseal" class="text-center" style="margin-top: 20px" title="Click to Verify - This site chose Thawte SSL for secure e-commerce and confidential communications.">
            <div>
                <script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.itanio.com.br&amp;size=L&amp;lang=br"></script>
                <a href="https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=www.itanio.com.br&amp;lang=br"
                   tabindex="-1"
                   onmousedown="return v_mDown(event);"
                   target="THAWTE_Splash">
                    <img name="seal"
                         border="true"
                         src="https://seal.thawte.com/getthawteseal?at=0&amp;sealid=1&amp;dn=www.itanio.com.br&amp;lang=br&amp;gmtoff=180"
                         oncontextmenu="return false;"
                         alt="Click to Verify - This site has chosen a thawte SSL Certificate to improve Web site security">
                </a>
            </div>
        </div>
        <div class="text-center" style="margin-top: 20px">
            Caso queira, clique no selo acima para visualizar as informações de registro da Itanio no serviço de criptografia da empresa Thawte de segurança digital.
        </div>
    </div>
</div>