﻿@model Itanio.Marketplace.WebUI.Models.ProductViewModel
@{
    Layout = "_layout.cshtml";
    ViewBag.Title = Model.Name;
}
<div class="row">
    <div class="box col-lg-10 col-sm-10 col-sm-offset-1 col-xs-12">
        <label>Verifique as informações do produto abaixo</label>
        <hr/>
        <h3>@Html.DisplayFor(model => model.Name)</h3>

        <p> @Html.DisplayFor(model => model.Description)</p>
        <h4>
            @Html.DisplayFor(model => model.Ammount)
            @if (Model.MaxStallments > 1)
            {
                @($"em até {Model.MaxStallments}x")
            }
        </h4>

        <div class="text-center">
            @using (Html.BeginForm("Buy", "Sale"))
            {
                <script type="text/javascript"
                        src="https://assets.pagar.me/checkout/checkout.js"
                        data-button-text="@Model.StartButtonText"
                        data-button-class="btn btn-primary"
                        data-customer-data="@Model.CustomerDataRequired.ToString().ToLower()"
                        data-payment-methods="@Model.PaymentMethods.Description()"
                        data-encryption-key="ek_test_6kfQBymU7aITL4XcbczwO7qSC0Ih4M"
                        data-max-installments="@Model.MaxStallments"
                        data-header-text="@Model.HeaderText"
                        data-payment-button-text="@Model.EndButtonText"
                        data-amount="@Model.Ammount.ToString().Replace(",", string.Empty)" data-ui-color="#eb8a0f">
                </script>
            }
        </div>
    </div>
</div>
<div class="row">
    @Html.Partial("_NavegacaoSeguraInfo")
</div>