﻿@model PagarMe.Transaction
@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "Transação concluída com sucesso!";
}
<div class="row">
    <div class="box col-lg-10 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="row">
            <div class="col-xs-2 col-md-1">
                <img src="~/Content/images/paid.png" class="payment-icon"/>
            </div>
            <div class="col-xs-10 col-md-11">
                <h1>Transação concluída com sucesso!</h1>
            </div>
        </div>
        <hr/>
        <p>Você receberá um e-mail com as informações de seu pagamento em instantes.</p>
    </div>
</div>