﻿@model PagarMe.Transaction
@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "Ooopss... Houve um problema";
}
<div class="row">
    <div class="box col-lg-10 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="row">
            <div class="col-xs-2 col-md-1">
                <img src="~/Content/images/refused.png" class="payment-icon"/>
            </div>
            <div class="col-xs-10 col-md-11">
                <h1>Ooopss... Houve um problema</h1>
            </div>
        </div>
        <div class="col-xs-12">
            <hr/>
            <p class="text-justify">Por algum motivo sua operadora de cartões não aprovou a sua transação. Seguem sugestões:</p>
            <ol>
                <li>Ligue na operadora do seu cartão e veja se houve algum bloqueio nesta transação;</li>
                <li>Clique no botão voltar e efetue o pagamento utilizando boleto;</li>
                <li>Tente novamente mais tarde, pode ter ocorrido algum erro momentâneo de sistema;</li>
            </ol>
            <p class="text-justify">
                Nós enviamos por e-mail o resumo da sua transação e o link para o acesso a central de pagamentos da Itanio. Você pode tentar efetuar o pagamento novamente a qualquer momento.
            </p>
        </div>
    </div>
</div>