﻿@using System.ComponentModel.DataAnnotations
@model Itanio.Marketplace.Domain.ValueObjects.PaymentMethods


@{
    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
    var type = Model.GetType();
}
<div class="input-group">
    @foreach (Enum e in Enum.GetValues(type))
    {
        var display = (DisplayAttribute) type.GetField(e.ToString()).GetCustomAttributes(typeof(DisplayAttribute), false).First();
        if (display != null && (display.GetAutoGenerateField() ?? true))
        {
            <label class="checkbox" title="@display.GetDescription()">
                <input type="checkbox" name="@name" value="@e.ToString()" checked="@Model.HasFlag(e)" class="i-checks"/>
                @display.Name
            </label>
        }
    }
</div>