﻿body { background: url('./images/background.jpg'); }

#overlay {
    background-color: rgba(52, 95, 137, 0.7);
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -1;
}

#second-overlay {
    float: left;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.box {
    background: #fff;
    border: 15px solid #262941;
    margin-top: 25px;
    padding: 10px 10px 10px 10px;
}


.text-justify { text-align: justify; }

#header-panel {
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 10px solid #1f344c;
    color: #fff;
    font-family: arial;
    font-size: 27px;
    font-weight: bold;
    height: 90px;
    width: 100%;
}

.payment-icon {
    height: 60px;
    width: 60px;
}