﻿/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.logo-image {
    max-height: 300px;
    max-width: 560px;
}

.logo-image-sm {
    max-height: 16px;
    max-width: 15px;
}

.modal-extrasmall {
    width: 10%; /* either % (e.g. 60%) or px (400px) */
}

.modal-small {
    width: 30%; /* either % (e.g. 60%) or px (400px) */
}

.modal-medium {
    width: 50%; /* either % (e.g. 60%) or px (400px) */
}

.modal-large {
    width: 70%; /* either % (e.g. 60%) or px (400px) */
}

.modal-extralarge {
    width: 90%; /* either % (e.g. 60%) or px (400px) */
}