﻿@model Itanio.Marketplace.WebUI.Models.ProductViewModel

@{
    var acaoEfetuada = "incluído";
    var acao = "Inclusão";

    if (Model.Id.HasValue)
    {
        acaoEfetuada = "alterado";
        acao = "Alteração";
    }
}


@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new {id = "edit-product-form"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ammount, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.Ammount, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxStallments, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.MaxStallments, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.MaxStallments, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentMethods, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.PaymentMethods, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PaymentMethods, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerDataRequired, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.CustomerDataRequired, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CustomerDataRequired, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartButtonText, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.StartButtonText, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.StartButtonText, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.EndButtonText, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.EndButtonText, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EndButtonText, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.HeaderText, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.HeaderText, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.HeaderText, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.Active, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Active, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Salvar" class="btn btn-primary modalFormButton"
                       data-action-name="@Url.Action("Edit")"
                       data-success-update-container-id="product-grid-container"
                       data-success-notification-type="Success"
                       data-success-notification-message="Produto @acaoEfetuada com sucesso"
                       data-success-notification-title="@acao de Produto"/>
            </div>
        </div>
    </div>
}

<script>
    (function() {
        var $private = {};
        $private.validar = function(e) {
            e.preventDefault();
            $(this).validate();
            $("#form-modal-container").trigger("validated.pf.form", $(".modalFormButton")[0]);
        };

        $(document).on("submit", "#edit-product-form", $private.validar);
        $.validator.unobtrusive.parse('#edit-product-form');
    }());
</script>