﻿@using Itanio.Marketplace.WebUI.Models
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>@Html.Label("Produtos", new {@class = "control-label"})</h5>
    </div>
    <div class="ibox-content">
        <div class="form-group">
            @Html.Table("Produtos", new List<ProductViewModel>(),
                new
                {
                    @class = "table table-striped table-bordered table-hover datatables",
                    data_action = Url.Action("Products", "Product"),
                    data_allow_edit = true,
                    data_allow_delete = true,
                    data_edit_action = Url.Action("Edit", "Product"),
                    data_allow_new = true,
                    data_delete_action = Url.Action("Delete", "Product")
                })
        </div>
    </div>
</div>